{{ define "main" -}}
<div class="post">
    <h1>{{ .Title }}</h1>

    {{- if .Params.tier }}<p><strong>Tier:</strong> {{ .Params.tier }}</p>{{ end }}

    {{- with .Params.guilds }}
    <p>
        <strong>Guilds:</strong>
        {{- range $index, $e := . }}
        {{- if $index }}, {{ end }}
        <a href="{{ "guilds/" | relURL }}{{ . | urlize }}" class="guild guild-{{ . | urlize }}">{{ . }}</a>
        {{- end }}
    </p>
    {{- end }}

    {{- with .Params.prerequisites }}
    {{- $skill := $.Site.GetPage "/skill" }}
    <p>
        <strong>Pre-requisite to learn:</strong>
        {{- range $index, $item := . }}
        {{- if $index }}, {{ end }}
        {{- with $skill.GetPage $item }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{- else }}
        {{ $item }}
        {{- end }}
        {{- end }}.
    </p>
    {{- end }}

    {{- with .Params.requirements }}
    <p>
        <strong>Requirements to use:</strong>
        {{- range $index, $e := . }}
        {{- if $index }}, {{ end }}
        {{ . }}
        {{- end }}.
    </p>
    {{- end }}

    {{ .Content }}
</div>
{{- end }}