{{ define "main" -}}
<div class="post">
    <h1>{{ .Title }}</h1>

    {{- if .Params.tier }}<p><strong>Tier:</strong> {{ .Params.tier }}</p>{{ end }}

    {{- with .Params.guilds }}
    <p>
        <strong>Guilds:</strong>
        {{- range $index, $e := . }}
        {{- if $index }}, {{ end }}
        <a href="{{ "guilds/" | relURL }}{{ . | urlize }}" class="guild guild-{{ . | urlize }}">{{ . }}</a>
        {{- end }}
    </p>
    {{- end }}

    {{- $skills := $.Site.GetPage "/skill" }}
    {{- with .Params.prerequisites }}
    <p>
        <strong>Pre-requisite to learn:</strong>
        {{ partial "skill-list" (dict "list" . "skills" $skills) }}
    </p>
    {{- end }}

    {{- with .Params.requirements }}
    <p>
        <strong>Requirements to use:</strong>
        {{ partial "skill-list" (dict "list" . "skills" $skills) }}
    </p>
    {{- end }}

    {{ .Content }}
</div>
{{- end }}