{{ define "main" -}}
<h1>{{ .Title }}</h1>

<style>
    .skill-table,
    .skill-table th,
    .skill-table td {
        background-color: #fafafa;
        border-collapse: collapse;
        border: 1px solid #a9a9a9;
        color: black;
    }

    .skill-table th,
    .skill-table td {
        line-height: 1.5;
        padding: .3em;
    }

    .skill {
        background-color: white;
        border: 2px solid #666;
        color: black;
        display: block;
        margin: .3em;
        padding: .2em .5em;
        text-align: center;
        text-decoration: none;
    }

    .skill.restricted-skill {
        background-color: #C6D7A5;
        color: black;
    }

    .skill.replacement-skill {
        border-width: 1px;
    }

    .theme-base-09 .content a.skill {
        color: black;
    }

    .skill:hover {
        text-decoration: none;
        border-color: black;
    }
</style>

<table class="skill-table">
    <thead>
        <tr>
            <th>Tier</th>
            <th>{{ .Title }}</th>
        </tr>
    </thead>
    <tbody>
        {{- $skills := $.Site.GetPage "/skill" }}
        {{- $tier := 0 }}
        {{- range .Pages.ByParam "tier" }}
        {{- range after 1 (seq $tier .Params.tier) }}
        {{- if $tier }}</tr>{{ end }}
        <tr>
            <th scope="row">{{ . }}</th>
            {{- $tier = . }}
            {{- end }}
            <td>
                <a class="skill{{ if .Params.restricted }} restricted-skill{{ end }}{{ if .Params.replacement }} replacement-skill{{ end }}"
                    id="skill-{{ .UniqueID }}" href="{{ .Permalink }}"
                    {{ range .Params.prerequisites }}{{- with $skills.GetPage . }}
                    data-prerequisite="skill-{{ .UniqueID }}" {{ end }}{{ end }}>
                    {{ .Title }}
                </a>
            </td>
            {{- end }}
        </tr>
    </tbody>
</table>
<script src="/leader-line.min.js"></script>
<script type="text/javascript">
    'use strict';
    (function (document) {
        var color = "black";
        var skills = document.getElementsByClassName("skill");
        Array.from(skills).forEach(skill => {
            if (skill.dataset.prerequisite) {
                var prerequisite = document.getElementById(skill.dataset.prerequisite);
                new LeaderLine(prerequisite, skill, { color });
            }
        });
    }(document));
</script>
{{- end }}