{{ define "main" -}}
<article>
    <h1>{{ .Title }}</h1>

    {{- with .Params.tier }}<p><strong>Tier:</strong> {{ . }}</p>{{ end }}

    {{- with .Params.lists }}
    {{- $lists := site.GetPage "/lists" }}
    <p>
        <strong>Lists:</strong>
        {{- $len := len . }}
        {{- range $index, $e := . }}
        {{- if $index }}
        {{- if ge (add $index 1) $len }} and {{ else }}, {{ end }}
        {{- end }}
        {{ $lists.GetPage . | partial "lists/link" }}
        {{- end }}
    </p>
    {{- end }}

    {{- with .Params.prerequisites }}
    <p>
        <strong>Pre-requisite to learn:</strong>
        {{ partial "skill-list" . }}
    </p>
    {{- end }}

    {{- with .Params.requirements }}
    <p>
        <strong>Requirements to use:</strong>
        {{ partial "skill-list" . }}
    </p>
    {{- end }}

    {{ .Content }}
</article>
{{- end }}