{{ define "main" -}}
<article>
    <h1>{{ .Title }}</h1>

    {{- $names := slice (print .File.Dir .File.ContentBaseName | replaceRE "^skill/" "") }}
    {{- $lists := slice }}
    {{- with .Params.lists }}{{ $lists = $lists | append . }}{{ end }}
    {{- range (print .File.Dir .File.ContentBaseName | where site.RegularPages ".Params.canonical") }}
    {{- $child := . }}
    {{- if .Param "canonical" }}{{ with (.Param "canonical" | site.GetPage ) }}
    {{- $child = . }}
    {{- end }}{{ end }}
    {{- $names = $names | append (print $child.File.Dir $child.File.ContentBaseName | replaceRE "^skill/" "") }}
    {{- with .Params.lists }}{{ $lists = $lists | append . }}{{ end }}
    {{- end }}

    {{- with ($lists | sort | uniq) }}
    {{- $lists := site.GetPage "/lists" }}
    <p>
        {{- $len := len . }}
        <strong>List{{ if ne $len 1 }}s{{ end }}:</strong>
        {{- range $index, $e := . }}
        {{- if $index }}
        {{- if ge (add $index 1) $len }} and {{ else }}, {{ end }}
        {{- end }}
        {{ $lists.GetPage . | partial "lists/link" }}
        {{- end }}.
    </p>
    {{- end }}

    {{- $tier := .Params.tier }}
    {{- with .Params.tier }}<p><strong>Tier:</strong> {{ . }}</p>{{ end -}}

    {{- with .Params.loresheet_tier }}
    {{- if ne $tier . }}
    <p><strong>Loresheet Tier:</strong> {{ . }}</p>
    {{ end -}}
    {{ end -}}

    {{- $osp_cost := .Params.osp_cost }}
    {{- with .Params.osp_cost }}<p><strong>OSP Cost:</strong> {{ . }}</p>{{ end -}}

    {{ with .Params.loresheet_osp_cost }}
    {{- if ne $osp_cost . }}
    <p><strong>Loresheet OSP Cost:</strong> {{ . }}</p>
    {{ end -}}
    {{ end -}}

    {{- with .Params.prerequisites }}
    <p>
        <strong>Pre-requisite to learn:</strong>
        {{ partial "skill-list" . }}
    </p>
    {{- end }}

    {{- with .Params.requirements }}
    <p>
        <strong>Requirements to use:</strong>
        {{ partial "skill-list" . }}
    </p>
    {{- end }}

    {{ with (where site.RegularPages ".Params.prerequisites" "intersect" $names).ByParam "tier" -}}
    <p>
        {{- $len := len . }}
        <strong>Dependent skill{{ if ne $len 1 }}s{{ end }}:</strong>
        {{- range $index, $e := . }}
        {{- if $index }}
        {{- if ge (add $index 1) $len }} and {{ else }}, {{ end }}
        {{- end }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .LinkTitle }}</a>
        {{- end }}.
    </p>
    {{- end }}

    <div class="markdown">{{ .Content }}</div>

    {{- if .Param "canonical" }}{{- with (.Param "canonical" | string | site.GetPage) }}
    <p>See <a href="{{ .Permalink }}" rel="parent">{{ .Title }}</a> for full details.</p>
    {{- end }}{{- end }}
</article>
{{- end }}