{{ define "main" -}}
<article>
    <h1>{{ .Title }}</h1>

    {{- with .Params.canonical_title -}}
    <h2>{{ . }}</h2>
    {{- end }}

    {{- $canonical_includes := slice }}
    {{- $names := slice (print .File.Dir .File.ContentBaseName | replaceRE "^skill/" "") }}
    {{- $lists := slice }}
    {{- with .Params.lists }}{{ $lists = $lists | append . }}{{ end }}
    {{- range (print .File.Dir .File.ContentBaseName | where site.RegularPages ".Params.canonical") }}
    {{- $child := . }}
    {{- if .Param "canonical_title" }}
    {{- $canonical_includes = $canonical_includes | append . }}
    {{- end }}
    {{- if .Param "canonical" }}{{ with (.Param "canonical" | site.GetPage ) }}
    {{- $child = . }}
    {{- end }}{{ end }}
    {{- $names = $names | append (print $child.File.Dir $child.File.ContentBaseName | replaceRE "^skill/" "") }}
    {{- with .Params.lists }}{{ $lists = $lists | append . }}{{ end }}
    {{- end }}

    {{- $dependents := slice }}
    {{ range (where site.RegularPages ".Params.prerequisites" "intersect" $names) -}}
    {{ $skill := . }}
    {{- if .Param "canonical" }}{{ with (.Param "canonical" | site.GetPage ) }}
    {{ $skill = . }}
    {{- end }}{{ end }}
    {{ $dependents = $dependents | append $skill }}
    {{- end }}

    {{- with ($lists | sort | uniq) }}
    {{- $lists := site.GetPage "/lists" }}
    <p>
        {{- $len := len . }}
        <strong>List{{ if ne $len 1 }}s{{ end }}:</strong>
        {{- range $index, $e := . }}
        {{- if $index }}
        {{- if ge (add $index 1) $len }} and {{ else }}, {{ end }}
        {{- end }}
        {{ $lists.GetPage . | partial "lists/link" }}
        {{- end }}.
    </p>
    {{- end }}

    {{ .Render "details" }}

    {{ with (sort (uniq $dependents) "Params.tier") -}}
    <p>
        {{- $len := len . }}
        <strong>Dependent skill{{ if ne $len 1 }}s{{ end }}:</strong>
        {{- range $index, $e := . }}
        {{- if $index }}
        {{- if ge (add $index 1) $len }} and {{ else }}, {{ end }}
        {{- end }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .LinkTitle }}</a>
        {{- end }}.
    </p>
    {{- end }}

    {{ .Render "content" }}

    {{- if .Param "canonical" }}{{- with (.Param "canonical" | string | site.GetPage) }}
    <p>See <a href="{{ .Permalink }}" rel="parent">{{ .Title }}</a> for full details.</p>
    {{- end }}{{- end }}

    {{- range sort $canonical_includes "Params.canonical_title" }}
    <section>
        <h2>{{ .Params.canonical_title }}</h2>

        {{ .Render "details" }}

        {{ .Render "content" }}
    </section>
    {{- end }}
</article>
{{- end }}