@import 'normalize';

$text-color: #333;
$primary-color: #DC7F38;

@mixin text-decoration-color($color: currentcolor) {
  text-decoration-color: $color;
  -webkit-text-decoration-color: $color;
  -moz-text-decoration-color: $color;
}

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: $text-color;
  background: white;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

a:link, a:visited {
  color: $text-color;
  text-decoration: underline;
  @include text-decoration-color($primary-color)
}
a:focus, a:hover {
  color: $primary-color;
  @include text-decoration-color($text-color)
}
a:active {
  color: $primary-color;
  @include text-decoration-color($primary-color)
}

.banner {
  display: flex;
  position: fixed;
  top: 0;
  left: 0; right: 0;
  background: $primary-color;
  box-shadow: 0 0 2px #000;

  h1, li {
    padding: 0;
    margin: 0;
    font-size: 120%;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    list-style-type: none;
  }

  a:link {
    display: inline-block;
    padding: .3em .5em;
    text-decoration: none;
  }
  a:link, a:visited, a:hover, a:focus, a:active {
    color: #fff;
  }
  a:hover, a:focus {
    background: rgba(0, 0, 0, .1);
  }
  a:active {
    background: rgba(0, 0, 0, .3);
  }
}

#content {
  padding: 2.2em .5em .2em;
  line-height: 1.4;
  max-width: 920px;
}

li ul {
  margin-bottom: 1em;
}

.skill-table {
  background-color: #fafafa;
  border-collapse: collapse;
  color: black;
  width: 100%;
  margin-bottom: 1em;

  &, tr, th, td {
    border: 1px solid #a9a9a9;
  }

  td {
    border-left: none;
  }
  td:nth-last-child(n+2) {
    border-right: none;
  }
  th, td {
    line-height: 1.5;
    padding: .3em;
  }
  th:first-child {
    width: 1%;
    height: 1;
  }
}

.skill {
  background-color: white;
  border: 3px solid #999;
  color: $text-color;
  display: block;
  margin: .3em;
  padding: .2em .5em;
  text-align: center;

  &.restricted-skill {
    background-color: #C6D7A5;
    color: $text-color;
  }
  &.replacement-skill {
    border-width: 2px;
  }

  &:link {
    text-decoration: none;
  }
  &:hover, &:focus {
    color: $text-color;
    border-color: $primary-color;
  }
  &:active {
    color: $primary-color;
  }
}