@import 'normalize';

$text-color: #333;
$primary-color: #DC7F38;

@mixin text-decoration-color($color: currentcolor) {
  text-decoration-color: $color;
  -webkit-text-decoration-color: $color;
  -moz-text-decoration-color: $color;
}
@mixin break-inside {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: $text-color;
  background: white;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

.wait-for-icons {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s;
}
.fontawesome-i2svg-active .wait-for-icons {
  opacity: 1;
  visibility: initial;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

a:link, a:visited {
  color: $text-color;
  text-decoration: underline;
  @include text-decoration-color($primary-color)
}
a:focus, a:hover {
  color: $primary-color;
  @include text-decoration-color($text-color)
}
a:active {
  color: $primary-color;
  @include text-decoration-color($primary-color)
}

body {
  position: absolute;
  top: 0; left: 0;
  min-width: 100%;
}

.banner {
  background: $primary-color;
  color: white;
  box-shadow: 0 0 2px #000;
  position: relative;
  top: 0; left: 0; right: 0;
  z-index: 100;
  font-size: 6vw;

  .title-menu {
    background: $primary-color;
    display: flex;
    position: relative;
    z-index: 100;
    max-width: 100vw;
  }

  h1 {
    flex-grow: 1;
    font-size: 100%;
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a:link, .link {
    display: block;
    padding: .3em .5em;
    text-decoration: none;
  }
  a:link, .link, a:visited, a:hover, a:focus, a:active {
    color: #fff;
  }
  a:active {
    background: rgba(0, 0, 0, .3);
  }
  nav {
    a:hover, a:focus {
      background: rgba(0, 0, 0, .1);
    }
  }
  a.active, a.active:focus, a.active:hover {
    background: white;
    color: $text-color;
  }

  .aux-menu {
    order: -1;
  }

  @media (min-width: 32em) {
    font-size: 1.4em;

    h1 {
      text-align: left;
    }
  }
}

@supports(position: sticky) {
  .banner {
    position: sticky;
  }
}

.side-menu {
  background: $primary-color;
  display: none;
  font-size: 120%;
  padding: .2em 0;

  &:target, &[aria-expanded=true] {
    display: block;
  }

  ul ul {
    :link, .link {
      padding-left: 1.5em;
    }
  }
  ul ul ul {
    :link, .link {
      padding-left: 2.5em;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  a:link, .link, a:visited {
    display: block;
    padding: .1em .5em;
    color: white;
    text-decoration: none;
  }
  a:hover {
    background: rgba(0, 0, 0, .1);
  }

}

.help {
  background-color: white;
  box-shadow: 0 0 2px #000;
  color: $text-color;
  display: none;
  padding-top: .5em;

  &[aria-expanded=true] {
    display: block;
    height: auto;
  }
}

.content {
  max-width: 100vw;
  box-sizing: border-box;
}

#content {
  margin: .2em .5em;
  line-height: 1.4;
}

#content article {
  max-width: 920px;
}

.site-footer {
  border-top: 1px solid $text-color;
  margin: 0;
  padding: .2em .5em;
  text-align: center;
}

li ul {
  margin-bottom: 1em;
}

.cell-table {
  background-color: #fafafa;
  border-collapse: collapse;
  color: black;
  width: 100%;
  margin-bottom: 1em;

  &, tr, th, td {
    border: 1px solid #a9a9a9;
  }

  td {
    border-left: none;
  }
  td:nth-last-child(n+2) {
    border-right: none;
  }
  th, td {
    line-height: 1.5;
    padding: .3em;
  }
  th:first-child {
    width: 1%;
    height: 1;
  }
}

$cell-space-around: .3em;
$cell-spacing: 1em;
$cell-height: calc(3.8em + 6px); /* line-height + padding + margin + border */

.cell {
  background-color: white;
  border: 3px solid #333;
  color: $text-color;
  display: block;
  margin: $cell-space-around;
  padding: .2em .5em;
  position: relative;
  text-align: center;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.restricted-cell {
    background-color: #C6D7A5;
    color: $text-color;
  }
  &.replacement-cell {
    border-color: #999;
    border-width: 2px;
    padding-bottom: calc(.2em + 1px);
    padding-top: calc(.2em + 1px);
  }
  & + .cell {
    margin-top: $cell-spacing;
  }
  & + .has-prerequisite {
    margin-top: $cell-height;
  }

  &:link {
    text-decoration: none;
  }
  &:hover, &:focus {
    color: $text-color;
    border-color: $primary-color;
  }
  &:active {
    color: $primary-color;
  }
}

.list-list {
  column-gap: .5em;
  column-rule: none;
  column-width: 300px;
}
.list {
  @include break-inside;
  overflow: hidden
}

.cell-list {
  background-color: #fafafa;
  border: 1px solid #a9a9a9;
  column-gap: 0;
  column-rule: 1px solid #a9a9a9;
  column-width: 300px;
  margin-bottom: 1em;

  &.no-cells {
    border-top: none;
  }
}
.cell-list-title, .cell-ladder, .cell {
  break-inside: avoid;
}
.cell-list-title {
  background-color: #fafafa;
  border: 1px solid #a9a9a9;
  border-bottom: none;
  font-weight: bold;
  padding: .3em;
  text-align: center;
}
.cell-ladder {
  display: inline-block;
  width: 100%;
  margin-bottom: $cell-spacing - (2 * $cell-space-around);
}

#header-search-results {
  background-color: darken(white, 1%);
  color: black;
  display: none;

  &[aria-expanded=true] {
    display: block;
  }

  .search-results {
    margin: 0;
  }

  form {
    padding: .3em .5em;
    border-bottom: 1px solid black;
  }

  .summary, .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    max-width: 920px;
  }
  .title {
    font-size: 120%;
    margin-bottom: 0;
  }
  article .content, .no-search-results, .min-search-query, .more-results {
    margin: 0;
    padding: .3em .5em;
    border-bottom: 1px solid black;
  }
  article.hover {
    background: white;
    cursor: pointer;
  }
}

mark {
  background-color: lighten($primary-color, 25%);
}

.markdown table {
  background-color: #fafafa;
  border-collapse: collapse;
  color: black;
  margin-bottom: 1em;

  &, tr, th, td {
    border: 1px solid #a9a9a9;
  }
  th, td {
    line-height: 1.5;
    padding: .2em .5em;
  }
  td {
    background-color: white;
  }
}