{{ define "main" -}}
<h1>{{ .Title }}</h1>

{{ partial "lists/nav" . }}

{{ .Content }}

{{ with where .Pages ".Params.loresheet_ladder" "!=" nil -}}
{{ range .GroupByParam "loresheet_ladder" -}}
{{ partial "lists/term/ladder" (dict "Key" .Key "Pages" .Pages "ladder_group_key" "loresheet_ladder_group" "tier_key" "loresheet_tier") }}
{{- end }}
{{- end }}

{{ with where .Pages ".Params.loresheet_ladder" "==" nil -}}
{{ partial "lists/term/ladder" (dict "Key" "none" "Pages" . "ladder_group_key" "loresheet_ladder_group" "tier_key" "loresheet_tier") }}
{{- end }}
{{- end }}