{{ define "scripts" }}
{{ partial "guilds/taxonomy/scripts" . }}
{{ end }}
{{ define "main" -}}
<h1>{{ .Title }}</h1>

{{ partial "guilds/nav" . }}

{{ .Content }}

{{- $skills := $.Site.GetPage "/skill" }}
<table class="skill-table">
    <thead>
        <tr>
            <th>
                {{ .Title }}
            </th>
        </tr>
    </thead>
    {{ with where .Pages ".Params.ladder" "!=" nil -}}
    {{ range .GroupByParam "ladder" -}}
    <tbody>
        <tr>
            <td>
                {{ range .ByWeight -}}
                <a class="skill{{ if .Params.restricted }} restricted-skill{{ end }}{{ if .Params.replacement }} replacement-skill{{ end }}"
                    id="skill-{{ .UniqueID }}" href="{{ .Permalink }}"
                    {{ range .Params.prerequisites }}{{- with $skills.GetPage . }}
                    data-prerequisite="skill-{{ .UniqueID }}" {{ end }}{{ end }}>
                    {{ .Title }}
                </a>
                {{- end }}
            </td>
        </tr>
    </tbody>
    {{- end }}
    {{- end }}
    {{ with where .Pages ".Params.ladder" "==" nil -}}
    <tbody>
        <tr>
            <td>
                {{ range .ByTitle -}}
                <a class="skill{{ if .Params.restricted }} restricted-skill{{ end }}{{ if .Params.replacement }} replacement-skill{{ end }}"
                    id="skill-{{ .UniqueID }}" href="{{ .Permalink }}"
                    {{ range .Params.prerequisites }}{{- with $skills.GetPage . }}
                    data-prerequisite="skill-{{ .UniqueID }}" {{ end }}{{ end }}>
                    {{ .Title }}
                </a>
                {{- end }}
            </td>
        </tr>
    </tbody>
    {{- end }}
</table>

{{- end }}