{{ define "scripts" }}
{{ partial "guilds/taxonomy/scripts" . }}
{{ end }}
{{ define "main" -}}
<h1>{{ .Title }}</h1>

{{ partial "guilds/nav" . }}

{{ .Content }}

{{- $skills := $.Site.GetPage "/skill" }}
{{- $guilds := $.Site.GetPage "/guilds" }}

{{- with $pages := where .Pages ".Params.guild" nil }}
<table class="skill-table">
    <thead>
        <tr>
            <th>{{ $.Title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ range . }}
                <a class="skill{{ if .Params.restricted }} restricted-skill{{ end }}{{ if .Params.replacement }} replacement-skill{{ end }}"
                    id="skill-{{ .File.UniqueID }}" href="{{ .Permalink }}"
                    {{ range .Params.prerequisites }}{{- with $skills.GetPage . }}
                    data-prerequisite="skill-{{ .File.UniqueID }}" {{ end }}{{ end }}>
                    {{ .Title }}
                </a>
                {{ end }}
            </td>
        </tr>
    </tbody>
</table>
{{ end }}

{{ with where .Pages ".Params.guild" "!=" nil }}
{{ range .GroupByParam "guild" }}
<table class="skill-table">
    <thead>
        <tr>
            <th>
                {{ $guilds.GetPage .Key | partial "guild-link" }}
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                {{ range .Pages }}
                <a class="skill{{ if .Params.restricted }} restricted-skill{{ end }}{{ if .Params.replacement }} replacement-skill{{ end }}"
                    id="skill-{{ .File.UniqueID }}" href="{{ .Permalink }}"
                    {{ range .Params.prerequisites }}{{- with $skills.GetPage . }}
                    data-prerequisite="skill-{{ .File.UniqueID }}" {{ end }}{{ end }}>
                    {{ .Title }}
                </a>
                {{ end }}
            </td>
        </tr>
    </tbody>
</table>
{{ end }}
{{ end }}

{{ end }}