{{ define "scripts" }}
{{ partial "guilds/taxonomy/scripts" . }}
{{ end }}
{{ define "main" -}}
<h1>{{ .Title }}</h1>

{{ partial "guilds/nav" . }}

{{ .Content }}

{{- $skills := $.Site.GetPage "/skill" }}
<section class="skill-list">
    <header class="skill-list-title">
        {{ .Title }}
    </header>
    {{ with where .Pages ".Params.ladder" "!=" nil -}}
    {{ range .GroupByParam "ladder" -}}
    <div class="skill-ladder">
        {{ range .ByWeight -}}
        <a class="skill{{ if .Params.restricted }} restricted-skill{{ end }}{{ if .Params.replacement }} replacement-skill{{ end }}"
            id="skill-{{ .UniqueID }}" href="{{ .Permalink }}"
            {{ range .Params.prerequisites }}{{- with $skills.GetPage . }} data-prerequisite="skill-{{ .UniqueID }}"
            {{ end }}{{ end }}>
            {{ .Title }}
        </a>
        {{- end }}
    </div>
    {{- end }}
    {{- end }}
    {{ with where .Pages ".Params.ladder" "==" nil -}}
    {{ range .ByTitle -}}
    <div class="skill-ladder skill-ladder-misc">
        <a class="skill{{ if .Params.restricted }} restricted-skill{{ end }}{{ if .Params.replacement }} replacement-skill{{ end }}"
            id="skill-{{ .UniqueID }}" href="{{ .Permalink }}"
            {{ range .Params.prerequisites }}{{- with $skills.GetPage . }} data-prerequisite="skill-{{ .UniqueID }}"
            {{ end }}{{ end }}>
            {{ .Title }}
        </a>
    </div>
    {{- end }}
    {{- end }}
</section>

{{- end }}