{{ define "main" -}}
<h1>{{ .Title }}</h1>

{{ partial "guilds/nav" . }}

{{ .Content }}

<table class="skill-table">
    <thead>
        <tr>
            <th>Tier</th>
            <th colspan="42">{{ .Title }}</th>
        </tr>
    </thead>
    <tbody>
        {{- $skills := $.Site.GetPage "/skill" }}
        {{- $default_ladder := "none" }}
        {{- $ladder_count := 0}}
        {{- $scratch := newScratch }}

        {{- with where .Pages ".Params.ladder" "!=" nil }}
        {{- range $n, $group := .GroupByParam "ladder" }}
        {{- $scratch.SetInMap "ladders" $group.Key $n }}
        {{- $ladder_count = add $ladder_count 1 }}
        {{- end }}
        {{- end }}
        {{- $scratch.SetInMap "ladders" $default_ladder $ladder_count }}

        {{- $max_col := 0 }}
        {{- range .Pages.GroupByParam "tier" }}
        {{- $col := 0 }}
        {{- range .Pages.ByParam "ladder" }}
        {{- $ladder := .Params.ladder | default $default_ladder }}
        {{- $ladder_column := index ($scratch.Get "ladders") $ladder }}
        {{- if lt $col $ladder_column }}
        {{- range after 1 (seq $col $ladder_column) }}
        {{- $col = add $col 1 }}
        {{- end }}
        {{- end }}
        {{- $col = add $col 1 }}
        {{- end }}
        {{- if lt $max_col $col }}
        {{- $max_col = $col }}
        {{- end }}
        {{- end }}

        {{- $tier := 0 }}
        {{- range .Pages.GroupByParam "tier" }}
        {{- range after 1 (seq $tier (sub .Key 1)) }}
        <tr>
            <th>{{ . }}</th>
            <td colspan="{{ add $max_col 1 }}" class="no-skill"></td>
        </tr>
        {{- end }}
        {{- $col := 0 }}
        {{- $tier = .Key }}
        <tr>
            <th scope="row">{{ .Key }}</th>
            {{- range .Pages.ByParam "ladder" }}
            {{- $ladder := .Params.ladder | default $default_ladder }}
            {{- $ladder_column := index ($scratch.Get "ladders") $ladder }}
            {{- if lt $col $ladder_column }}
            {{- range after 1 (seq $col $ladder_column) }}
            <td class="no-skill"></td>
            {{- $col = add $col 1 }}
            {{- end }}
            {{- end }}
            <td>
                <a class="skill{{ if .Params.restricted }} restricted-skill{{ end }}{{ if .Params.replacement }} replacement-skill{{ end }}"
                    id="skill-{{ .UniqueID }}" href="{{ .Permalink }}"
                    {{ range .Params.prerequisites }}{{- with $skills.GetPage . }}
                    data-prerequisite="skill-{{ .UniqueID }}" {{ end }}{{ end }}>
                    {{ .LinkTitle }}
                </a>
            </td>
            {{- $col = add $col 1 }}
            {{- end }}

            {{- if le $col $max_col }}
            {{- range after 1 (seq $col $max_col) }}
            <td class="no-skill"></td>
            {{- end }}
            {{- end }}
        </tr>
        {{- end }}
        {{- range after 1 (seq $tier 5) }}
        <tr>
            <th>{{ . }}</th>
            <td colspan="{{ $max_col }}" class="no-skill"></td>
        </tr>
        {{- end }}
    </tbody>
</table>
{{ end }}
{{ define "scripts" }}
{{- $bundle := slice }}
{{- $bundle = $bundle | append (resources.Get "js/leader-line.min.js") -}}
{{- $bundle = $bundle | append (resources.Get "js/on-ready.js") -}}
{{- $bundle = $bundle | append (resources.Get "js/resize-listener.js") -}}
{{- $bundle = $bundle | append (resources.Get "js/taxonomy.js") -}}
{{- $bundleJS := $bundle | resources.Concat "js/taxonomy-bundle.js" | minify | fingerprint }}
<script defer src="{{ $bundleJS.Permalink }}" integrity="{{ $bundleJS.Data.Integrity }}"
    type="text/javascript"></script>
{{ end }}