{{ define "scripts" }}
{{ partial "guilds/taxonomy/scripts" . }}
{{ end }}
{{ define "main" -}}
<h1>{{ .Title }}</h1>

{{ partial "guilds/nav" . }}

{{ .Content }}

{{- with where .Pages ".Params.guild" nil }}
<table class="cell-table">
    <thead>
        <tr>
            <th>{{ $.Title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ range . -}}
                {{ .Render "cell" }}
                {{- end }}
            </td>
        </tr>
    </tbody>
</table>
{{ end }}

{{ with where .Pages ".Params.guild" "!=" nil }}
{{ range .GroupByParam "guild" }}
<table class="cell-table">
    <thead>
        <tr>
            <th>
                {{ site.GetPage (printf "/guilds/%s" .Key) | partial "guild-link" }}
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                {{ range .Pages }}
                {{ .Render "cell" }}
                {{ end }}
            </td>
        </tr>
    </tbody>
</table>
{{ end }}
{{ end }}

{{ end }}