<footer class="site-footer">

    <p class="copyright">Designed by Adam Scott and adapted for the web by <a href="https://phills.me.uk/">Phill
            Sparks</a> &copy; {{ now.Format "2006" }}. All rights reserved. This work is derived from the <a
            href="https://www.lorientrust.com/">Lorien Trust Role-Playing System</a>.
    </p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="UW2SPMF9R5XXL" />
        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit"
            title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
    </form>

</footer>