<header class="banner" role="banner" id="banner">
    <div class="title-menu wait-for-icons">
        {{- with site.GetPage "/start" -}}
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        {{- end -}}

        <nav class="aux-menu">
            <ul>
                <li><a href="#side-menu" class="menu-toggle" aria-label="Open side menu"><span class="sr-only">Open main
                            menu</span><i class="fas fa-bars" title="Open menu"></i></a></li>
            </ul>
        </nav>

        <nav id="main-menu" class="main-menu" aria-label="Main menu">
            <ul>
                {{- range site.Menus.main }}
                <li><a href="{{ .URL }}">{{ default .Name .Title }}</a></li>
                {{ end -}}
                {{- with site.GetPage "/help/key" -}}
                <li><a href="{{ .Permalink }}" class="help-toggle" aria-label="Display key"><i
                            class="fas fa-info-circle" title="{{ .LinkTitle }}"></i></a></li>
                {{- end -}}
                {{- with site.GetPage "/search" -}}
                <li><a href="{{ .Permalink }}" class="search-toggle"><i class="fas fa-search"
                            title="{{ .Title }}"></i></a>
                </li>
                {{- end -}}
            </ul>
        </nav>
    </div>
</header>
<aside class="side-menu" id="side-menu" aria-label="Side menu">
    <nav>
        <ul>
            {{- range site.Menus.guilds }}
            <li>
                {{ partial "guilds/nav/link" . }}
            </li>
            {{ end -}}
        </ul>
    </nav>
</aside>
<section id="header-search-results">
    {{- with site.GetPage "/search" -}}
    <form role="search" method="GET" action="{{ .Permalink }}" class="search" id="search-form">
        <label for="search-query">Search:</label>
        <input name="q" id="search-query" type="search" placeholder="Search" aria-label="Search for skills"
            class="menu-focus"></label>
    </form>
    {{- end -}}
    <p class="min-search-query" style="display: none">
        You must enter at least <strong>3</strong> characters to search.</p>
    <p class="no-search-results" style="display: none">
        No matches found. Enter a new search term above.</p>
    <div class="search-results" style="display: none"></div>
</section>
<script id="search-result-template" type="text/x-js-template">
    <article id="summary-${id}"><div class="content">
        <h2 class="title"><a href="${link}">${title}</a></h2>
        <p class="summary">${summary}</p>
    </div></article>
</script>
{{- with site.GetPage "/help/key" -}}
{{- if ne $.Page . -}}
<section id="help" class="help help-key" aria-expanded="false">
    <div class="content">{{ .Content }}</div>
</section>
{{- end -}}
{{- end -}}
