<header class="banner" role="banner">
    <div class="title-menu">
        <h1><a href="{{ "" | relURL }}">{{ site.Title }}</a></h1>

        {{- $hamburger := resources.Get "svg/menu.svg" -}}
        <a href="#main-menu" class="menu-toggle" aria-label="Open main menu">
            <span class="sr-only">Open main menu</span><img src="{{ $hamburger.Permalink }}" aria-hidden="true"></a>
    </div>
    <nav class="main-menu" id="main-menu" aria-label="Main menu">
        <a href="#main-menu-toggle" class="menu-close" aria-label="Close main menu">
            <span class="sr-only">Open main menu</span><img src="{{ $hamburger.Permalink }}" aria-hidden="true"></a>
        <ul>
            {{- range site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Title }}</a></li>
            {{ end -}}
            {{- with site.GetPage "/search" -}}
            <li class="search">
                <form role="search" method="GET" action="{{ .Permalink }}" class="search">
                    <label for="search-query">🔍</label>
                    <input name="q" id="search-query" type="search" placeholder="Search"
                        aria-label="Search for skills"></label>
                </form>
            </li>
            {{- end -}}
        </ul>
    </nav>
</header>
<section id="header-search-results">
    <p class="no-search-results" style="display: none">
        No matches found. Enter a new search term above.</p>
    <div class="search-results" style="display: none"></div>
</section>
<script id="search-result-template" type="text/x-js-template">
    <article id="summary-${id}">
        <h2 class="title"><a href="${link}">${title}</a></h2>
        <p class="summary">${summary}</p>
    </article>
</script>

{{- $bundle := slice }}
{{- $bundle = $bundle | append (resources.Get "js/fuse.min.js") -}}
{{- $bundle = $bundle | append (resources.Get "js/jquery-3.3.1.min.js") -}}
{{- $bundle = $bundle | append (resources.Get "js/jquery.mark.min.js") -}}
{{- $bundle = $bundle | append (resources.Get "js/url-search-params.min.js") -}}
{{- $bundle = $bundle | append (resources.Get "js/search.js") -}}
{{- $bundle = $bundle | append (resources.Get "js/menu.js") -}}
{{- $bundleJS := $bundle | resources.Concat "js/search-bundle.js" | minify | fingerprint }}
<script defer src="{{ $bundleJS.Permalink }}" integrity="{{ $bundleJS.Data.Integrity }}"
    type="text/javascript"></script>